body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: #fff;
}

.container {
    width: 20rem;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 0.1rem;;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
    font-size: large;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    cursor: pointer;
}

.flex-outer li button:hover {
    background: rgba(21, 14, 14, 0.56);
}

.flex-inner li {
    width: 100px;
}

.flex-outer li .backToList {
    margin-left: 0;
}

.flex-outer li .deleteBtn {
    background: #d65959;
    width: 70%;
}

.passwordList .flex-outer li {
    font-size: medium;
    margin: 0;
}

.passwordList p {
    border-bottom: 1px solid #fff;
}

.passwordList {
    display: none;
}

.editBtn {
    width: 30%;
}

.btnContainer {
    display: flex;
}
.container {
    height: 100vh;
    width: 30rem;
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-name: loader-a;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-name: loader-b;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-name: loader-c;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-name: loader-d;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-name: loader-e;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-name: loader-f;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes loader-a {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loader-b {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loader-c {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loader-d {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loader-e {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loader-f {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}

#square{
    width: 50px;
    height: 50px;
    animation-name: spinnow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
}
@-webkit-keyframes spinnow {
    0%{
        background: #f9a74b;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);

    }

    25%{
        background: #fbef5a;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);

    }
    50% {
        background: #60beeb;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    75% {
        background: #ef5d74;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
    100% {
        background: #f9a74b;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}