<li data-elemnt-index=<%=service%>>
    <label id="serviceL">service: <span><%=service%></span></label>
    <label id="userNameL">user name: <span><%=username%></span></label>
    <label id="passwordL">password: <span><%=password%></span></label>
    <div class="btnContainer">
        <button class="editBtn" id="editBtn" type="button" data-elemnt-index=<%=service%>>edit</button>
        <button class="deleteBtn" id="deleteBtn" type="button" data-elemnt-index=<%=service%>>delete</button>
    </div>
</li>